<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> <!-- CDN -->
    <canvas id="line-chart" width="330" height="250"></canvas> <!-- 앱과 크기조절-->
</head>
<body>

<script>new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [{% for i in date %}'{{i}}',{% endfor %}],
    datasets: [{
        data: [{% for i in light %}'{{i}}',{% endfor %}],
        label: "광도",
        borderColor: 'rgba(255, 206, 86, 1)',
        backgroundColor: 'rgba(255, 206, 86, 0.2)',
        fill: false
      }
    ]
  },
  options: {
    responsive: false,
    legend: {
        positon: 'top',
    },
    title: {
      display: true,
      text: '1일간 빛의 세기'
    }
  }
});
</script>
</body>
</html>
